*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: white;
}
body{
    justify-content: center;
    align-items: center;
    text-align: center;
}
.container { 
    min-height: 100vh;
    position: relative;
    align-items: center;
    overflow: hidden;
} 
a.banner {
    display: block;
    width: 850px;
    height: 500px;
    position: absolute;
    background: #fff;
    background-image: url("배너.gif");
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;
}
/*box*/
.box{
    position: absolute;
    width: 400px;
    height: 240px;
    left: 100px;
    top: 260px;
    background-repeat: no-repeat;
    animation-name: box;
    animation-duration: 3s;
    animation-iteration-count:infinite;
    animation-direction:alternate
}
@keyframes box {
    0%{
        border-radius: 80%; 
        top: 500px;
        left: 20px;
        padding: 60px;
    }
    100%{
        
    }
}
h1{
position: absolute;
width: 300px;
height: 44px;
left: 200px;
top: 100px;

font-family: 'Black And White Picture',serif;
font-style:bold;
font-weight: 400;
font-size: 30px;
text-align: center;

color: #FFFFFF;

}

#icons p{
    position: absolute;
    width: 300px;
    height: 45px;
    left: 200px;
    top: 160px;
    font-size: 60px;
    line-height: 60px;
    font-family: 'Dancing Script',serif;
    animation-name: ;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
     animation-timing-function: linear;
}
#icons {
    opacity: 0;
    animation: Icons 1s 2s ease-out forwards;
}
@keyframes Icons {
    100% {
        opacity: 1;
    }

}
h3{
    position: absolute;
width: 290px;
height: 50px;
left: 215px;
top: 320px;
font-family: 'Black And White Picture',serif;
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
text-align: center;
color: #FFFFFF;
}
.btn{    
    position: absolute;
    width: 100px;
    height: 40px;
    left: 310px;
    top: 390px;
    font-family: 'Noto Sans KR',serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 39px;
    text-align: center;
    color: black;
    background-color: white;
    }
    